@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chop-load-more {
  position: relative;
  height: 34px;
  // background-color: #e0e0e0;
  text-align: center;

	.icon-loading {
		-webkit-animation: loading 1s infinite linear;
		animation: loading 1s infinite linear;
	}

  .line {
    margin: 0 15px;
    height: 17px;
    border-bottom: 1px #ccc solid;
  }

  .text-container {
    margin-top: -13px;
    // vertical-align: middle;
    // line-height: 1;

    .more-text {
      display: inline-block;
      background-color: #eee;
      padding: 0 27.5px;
      color: #999;
      font-size: 12px;
    }
  }
}
